@charset "UTF-8";

#wrapHeader {
	display: inline-block;
	clear: both;
	margin-top: 20px;
}

#wrapLogo {
	float: left;
	width: 300px;
	height: 50px;
}

#wrapLogo a {
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	color: gray;
	padding:0 10px;
	text-decoration:none;
}

#wrapLogo a:hover {
	text-decoration:none;
	color: gray;
}

#wrapSearch {
	float: left;
	width: 600px;
	height: 50px;
}

#wrapAccount {
	float: right;
	width: 300px;
	height: 50px;
	text-align: right;
	font-size: 0;
}

.aAccount {
	color: gray;
	text-decoration: none;
	border-right: 2px solid lightgray;
	padding: 0 20px;
	font-size: 12px;
	padding: 0 20px;
}

.aAccount:last-child {
	border-right: none;
}

.aAccount:hover {
	color: gray;
	font-weight: bold;
	text-decoration:none;
}

#wrapMainMenu {
	display: inline-block;
	clear: both;
	width: 1200px;
	height: 80px;
	margin-top: 20px;
	background-color: black;
	border-radius: 10px;
	font-size: 0;
}

.aMainMenu {
	display: inline-block;
	width: 300px;
	height: 80px;
	line-height: 80px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
}

.aMainMenu:hover {
	color: gray;
	font-weight: bold;
	text-decoration:none;
}

.imgMainMenu {
	width: 50px;
	vertical-align: middle;
}

#wrapFooter {
	clear: both;
	width: 1200px;
	height: 200px;
	margin-top: 50px;
	background-color: black;
	border-radius: 10px 10px 0 0;
	width: 1200px;
	text-align:center;
}

.divFooter {
	height:200px;
	float:left;
	padding:20px;
}

.divFooter:nth-child(1), .divFooter:nth-child(3) { width:150px; text-align:right; }
.divFooter:nth-child(2), .divFooter:nth-child(4) { width:350px; text-align:left; }
.divFooter:nth-child(5) { width:200px; text-align:center; }

.iconFooter {
	color:white;
	font-size:80px;
}

.pFooter {
	color:white;
}

.aFooter {
	display:inline-block;
	color:white;
	font-size:30px;
	padding:10px;
}

.aFooter:hover {
	color:white;
}