@charset "UTF-8";

#wrapModalShowDetail {
	width: 100%;
	clear: both;
	text-align: center;
}

.pModalShowDetail {
	white-space:pre-wrap;
	text-align:justify;
	padding:20px;
}

.pModalShowDetail:first-child {
	text-align:center;
	font-weight:bold;
	font-size:20px;
}

.aModalShowDetail {
	background-color:lightgray;
	color:white;
	text-decoration:none;
	display:inline-block;
	width:100px;
	height:50px;
	line-height:50px;
	border-radius:10px;
	margin:10px;
}

.aModalShowDetail:hover {
	text-decoration:none;
	color:black;
}

#wrapModalReservationList {
	width: 100%;
	clear: both;
	text-align: center;
}

.pModalReservationList {
	padding:20px;
	text-align:center;
	font-weight:bold;
	font-size:20px;
}

#tblModalReservationList {
	width:90%;
	margin:0 auto;
}

#tblModalReservationList tr { border-bottom:1px solid lightgray; }
#tblModalReservationList tr:last-child { border-bottom:none; }

#tblModalReservationList td:nth-child(1) { width:5%; padding:20px 10px; }
#tblModalReservationList td:nth-child(2) { width:15%; padding:20px 10px; }
#tblModalReservationList td:nth-child(3) { width:15%; padding:20px 10px; }
#tblModalReservationList td:nth-child(4) { width:40%; padding:20px 10px; cursor:pointer; }
#tblModalReservationList td:nth-child(5) { width:10%; padding:20px 10px; }
#tblModalReservationList td:nth-child(6) { width:15%; padding:20px 10px; }

.aWriteReview {
	text-decoration:underline;
	color:gray;
}

.aWriteReview:hover {
	color:gray;
	font-weight:bold;
}

#divModalReservationDetail {
	text-align:center;
}

.divModalHallSeat {
	display:inline-block;
	border:1px solid gray;
	width:50px; height:50px;
	line-height:50px;
	margin:10px;
	border-radius:5px;
	text-align:center;
}
