<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Reservation">
	<resultMap id="ReservationMap" type="com.pknu.reservation.vo.ReservationVo">
		<result property="RESERVATION_ID"   column="RESERVATION_ID"   javaType="int"></result>
		<result property="USER_ID"          column="USER_ID"          javaType="string"></result>
		<result property="SCHEDULE_ID"      column="SCHEDULE_ID"      javaType="int"></result>
		<result property="SHOW_NAME"        column="COM_NAME"         javaType="string"></result>
		<result property="SHOW_DATE"        column="SCHEDULE_DATE"    javaType="string"></result>
		<result property="SHOW_TIME"        column="COM_NAME"         javaType="string"></result>
		<result property="RESERVATION_SEAT" column="COM_NAME"         javaType="string"></result>
		<result property="RESERVATION_DATE" column="RESERVATION_DATE" javaType="string"></result>
	</resultMap>
	
	<select id="ReservationSeat" parameterType="hashmap" resultType="com.pknu.reservation.vo.ReservationVo">
		SELECT T2.COM_NAME RESERVATION_SEAT
		FROM   TBL_COM T1, TBL_COM T2, TBL_SCHEDULE T3, TBL_RESERVATION T4
		WHERE  T1.COM_ID = T3.SHOW_COM_ID
		  AND  T2.COM_ID = T4.SEAT_COM_ID
		  AND  T3.SCHEDULE_ID = T4.SCHEDULE_ID
		  AND  T4.SCHEDULE_ID = #{ SCHEDULE_ID }
	</select>
	
	<select id="MyReservationList" parameterType="hashmap" resultType="com.pknu.reservation.vo.ReservationVo">
		SELECT   T3.SCHEDULE_ID SCHEDULE_ID,T1.COM_NAME SHOW_NAME, T3.SCHEDULE_DATE SHOW_DATE, T2.COM_NAME SHOW_TIME
		FROM     TBL_COM T1, TBL_COM T2, TBL_SCHEDULE T3, TBL_RESERVATION T4
		WHERE    T1.COM_ID = T3.SHOW_COM_ID
		  AND    T2.COM_ID = T3.TIME_COM_ID
		  AND    T3.SCHEDULE_ID = T4.SCHEDULE_ID
		  AND    T4.USER_ID = #{ USER_ID }
		GROUP BY T3.SCHEDULE_ID, T1.COM_NAME, T3.SCHEDULE_DATE, T2.COM_NAME
		ORDER BY T3.SCHEDULE_DATE DESC, T2.COM_NAME DESC
	</select>
	
	<select id="MyReservationSeat" parameterType="hashmap" resultType="com.pknu.reservation.vo.ReservationVo">
		SELECT T2.COM_NAME RESERVATION_SEAT
		FROM   TBL_COM T1, TBL_COM T2, TBL_SCHEDULE T3, TBL_RESERVATION T4
		WHERE  T1.COM_ID = T3.SHOW_COM_ID
		  AND  T2.COM_ID = T4.SEAT_COM_ID
		  AND  T3.SCHEDULE_ID = T4.SCHEDULE_ID
		  AND  T4.SCHEDULE_ID = #{ SCHEDULE_ID }
		  AND  T4.USER_ID = #{ USER_ID }
	</select>
	
	<insert id="Reservation" parameterType="hashmap">
		INSERT INTO TBL_RESERVATION(RESERVATION_ID, RESERVATION_DATE, USER_ID, SCHEDULE_ID, SEAT_GRP_ID, SEAT_COM_ID)
		VALUES((SELECT MAX(RESERVATION_ID) + 1 FROM TBL_RESERVATION), TO_DATE(SYSDATE, 'YYYY/MM/DD'), #{ USER_ID }, #{ SCHEDULE_ID }, 'G3', #{ RESERVATION_SEAT })
	</insert>
</mapper>